@use '../abstract' as *;

.header {
  @include dflex;
  box-shadow: $box-shadow;
  height: 6.25rem;
  inset-inline: 0;
  padding-inline: 2em;
  position: fixed;
  top: 0;

  // change default color
  * {
    color: $text-secondary;
  }

  &__logo {
    @include dflex;
    height: 200px;
  }

  &__search {
    @include dflex;
    position: relative;
    margin-left: 4em;
    width: 25rem;

    .btn--search {
      position: absolute;
      background-color: $color-primary;
      right: 0;
      max-width: 3.5rem;
      height: 2.3rem;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      margin: 2.285px;

      .search-icon {
        fill: $white;
      }
    }
    /* input field */
    &--search-box {
      padding: 0 0.7em;
      height: 2.5rem;
      border: 3px solid lighten($text-primary, 50%);
      border-radius: 1em;
      color: lighten($black, 50%);

      &:focus {
        border: 3px solid lighten($text-primary, 50%);
      }
    }
  }

  .header__user {
    @include dflex;
    margin-left: auto;
    width: 15rem;

    > *:not(:last-child) {
      margin-right: 1em;
    }

    .user__imageContainer {
      display: grid;
      place-items: center;
      &--img {
        border-radius: 50%;
        aspect-ratio: 1;
        height: 1.5rem;
        margin-inline: auto;
        min-height: 2.8125rem;
      }
    }
    .user__management {
      @include dflex(center);

      .username {
        max-width: 20ch;
        overflow: hidden;
        padding: 0.2em;
      }
    }
  }

  .icon {
    cursor: pointer;
  }
}
