@use '../abstract' as *;

.profile {
  margin-inline: 4em;
  height: 13.125rem;
  &--user,
  &--nav > .nav-list {
    @include dflex;
  }

  &--user {
    > *:not(.divider) {
      width: 8rem;
    }

    .dividerContainer {
      padding: 1em 0;
      height: 100%;
      width: fit-content;
    }
    .divider {
      width: 2px;
      height: 6.25rem;
      transform: rotateY(9deg);
      margin-inline: 1em;
    }

    .username {
      flex-grow: 0.2;
      > h1 {
        font-weight: 700;
        color: darken($text-secondary, 20%);
      }
    }

    .account-info {
      flex-grow: 0.2;
    }

    p {
      margin-top: 0.5em;
    }

    h2 {
      font-weight: 500;
    }
  }

  &--nav {
    .nav-list {
      list-style-type: none;
      justify-content: space-evenly; // it is a flex item. Check line 7 above
      margin: 0;
      padding: 0;
    }
  }
}
